ul {
    float: right;
}

.text {
    float: right;
}

#skip {
    background-color: #E8D8FF;
    overflow: hidden;
    border-color: #2D1136;
    border-style: solid;
    border-width: 4px;
}

#skip a {
    
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    float: left;
    font-family: 'Kanit', sans-serif;
  }


#skip a:hover {
    background-color: #d39fe2;
}

#skip a:active {
    background-color: rgb(245, 255, 224);
}

.searchbarr {
    float: right;
}

p {
    font-family: 'Kanit', sans-serif;
    color: #2D1136;
}

.baking {
    width: 100%;
    object-fit: contain;
}

.waffles {
    float: right;
    width: 25%;
}

.fa-search {
    display: flex;
    float: right;
}

footer {
    background-color: #e4baf1;
    padding: 12px;
    padding-top: 12px;
}

main {
    background-color: #E8D8FF;
}

h1 {
    font-family: 'Tilt Warp', cursive;
}