ul {
    float: right;
}

.text {
    float: right;
}

#skip {
    background-color: #E8D8FF;
    overflow: hidden;
    border-color: #2D1136;
    border-style: solid;
    border-width: 4px;
}

#skip a {
    
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    float: left;
    font-family: 'Kanit', sans-serif;
  }


#skip a:hover {
    background-color: #d39fe2;
}

#skip a:active {
    background-color: rgb(255, 0, 217);
}

.searchbarr {
    float: right;
}

p {
    font-family: 'Kanit', sans-serif;
    color: #2D1136;
    font-size: x-large;
    font-weight: bolder;
    padding-left: 2rem;
}

.baking {
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.waffles {
    float: right;
    width: 50%;
    height: 350px;
    object-fit: cover;
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-left: 2.5rem;
    padding-bottom: 2rem;

}

.fa-search {
    display: flex;
    float: right;
}

footer {
    background-color: #2D1136;
    padding-top: 0.11rem;
    padding-bottom: 0.11rem;

}

main {
    background-color: #E8D8FF;
}

h1 {
    font-family: 'Tilt Warp', cursive;
}

.fa-search {
    color: #2D1136;
    padding-right: 20px;
    padding-top: 18px;
    padding-left: 18px;
}

.logo {
    width: 25%;
    position: absolute;
    display: block;
    margin-left: 40%;
    margin-right: 60%; 
}

.logo:hover {
    transform: rotateY(3turn);
    transition: transform 3s;
}

.lorem1 {
    padding-top: 2.5rem;
    font-size: 28px;
    padding-bottom: 4rem;
}

#navtab {
    font-weight: bolder;
}

.copyright {
    font-size: large;
    color: #E8D8FF;
    text-align: center;
}

.imagecredit {
    font-size: large;
    color: #E8D8FF;
    text-align: center;

}

.unsplash {
    font-size: large;
    color: #E8D8FF;
    text-align: center;

}

.bringmeup {
    color: #E8D8FF;
    text-align: center;

}

.pastry1 {
    width: 30%;
    height: 350px;
    object-fit: cover;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

}

.pastry2 {
    width: 30%;
    height: 350px;
    object-fit: cover;
    padding-bottom: 2rem;


}

.pastry3 {
    width: 30%;
    height: 350px;
    object-fit: cover;
    grid-column-start: 3;
    grid-column-end: 3;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

}

.bringmeup:hover {
    color: #ff00d4;
}

.unsplash:hover {
    color: #ff00d4;
}

.abouth1 {
text-align: center;
color: #2D1136;
}

html {
    background-color: #E8D8FF;
}